@font-face {
    font-family: "HelveticaNeue-UltraLight";
    src: url("../fonts/HelveticaNeue-UltraLight.ttf"); /* EOT file for IE */
}

@font-face {
    font-family: "myfont-ttf";
    src: url("../fonts/NanumBarunGothic.ttf");
}
body {
    background-color: black;
    color: #fff;
    font-family: "HelveticaNeue-UltraLight",'myfont-ttf','HelveticaNeue-UltraLight', 'Open Sans', sans-serif;
    font-weight: 100;
    position: relative;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 100;
}
h1 {
   font-weight : bold;
   font-size : 70px;
}

dt {
    font-weight: 600;
    font-weight: bold;
    font-size : 25px;
}
dd {
	font-size : 18px;
}
/* Colors */
.light-grey {
    color: #ccc;
}

.grey {
    color: #999;
}

/* Displays */
.sleep-cover {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.container {
    z-index: -1; /* so things are still selectable */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}


.listening, .interim-result {
    font-family: 'Open Sans', sans-serif;
}

.top-left {

}

.date {
    position : relative;
    clear : left;
    margin : 50px auto; 
    font-size: 42px;
    font-weight: bold; 
    text-align: center;
    font-family: "KoPubDotumBold";
}

.time {
    text-align : center; 
    position : relative;
    clear : left;
    margin : 0 auto;
    font-size: 60px;
    font-family: "KoPubDotumBold";
}

.top-right {
font-size:20px;    
    overflow : hidden;
    z-index : 1; 
    float: right;
color : #fff;
font-family: "myfont-ttf"; 
}

.middle-center {
    display: flex;
    flex: 1;
    align-items: stretch;
    align-self: flex-start;
    flex-direction: column;
    width: 100%;
    text-align: center;
    justify-content: center;
}

.bottom-center {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.bottom-right {
    text-align : center;
    float : right;
}

.bottom-left {
    text-align : center;
    float : left;
    width : 350px;
    margin-left : 5px;
}

.commands {
    width: 450px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

#whoissmartmirror {
	width: 800px;
	height: 600px;
}
element.style {
	margin-top : 0px;
	margin-bottom: 0px;
}
#titleCalendar {
   margin-top : 100px;
   font-size : 25px;
   text-align : center;
   background-color : black;
   width : 350px; 
}
ul.calendar {
    list-style: none;
    font-size: 22px;
    margin-left: 10px;
    margin-top : 0px;
	margin-bottom: 0px;
    padding:0;
}

.calendar .event{
     margin-bottom: 3px; 
    border-radius: 5px;
    background : black;
    width: 350px;
}

.calendar span {
    display: inline-block;
}

.calendar span.day {
    font-weight: bold;
    width: 100px;
    vertical-align: top;
     margin-left: 5px; 
}

.calendar span.summary{
	margin-left: 6px;
    max-width: 250px;
}

.calendar .event-details .details{
    font-size: 12px;
    padding-left: 90px;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
}

.weather {
    margin-top : 50px;
    margin-left: auto;
    display: inline-block;
    text-align: right;
    width: 250px;
    background-color: black;
    border-radius: 5px;
}


#titleWeather {
  font-size : 25px;
  text-align : center;
  height:40px;
  background: black;
  border-radius: 10px;
}

.weather-today .tempreture {
    font-size: 48px;
    color : white;
    font-weight: bold;
}

.weather-week-descriptor {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    margin-left: auto;
    margin-bottom: 5px;
    text-align: right;

}

.weather-week {
    font-size: 22px;
    color: white;
    border-radius: 5px;
    margin-top: 3px;
    margin-left: 10px;
    background : black;
}

.weather-week .day {
    display: inline-block;
    margin-right: 10px;
    width: 50px;

    color: white;
}

.weather-week .tempreture {
    display: inline-block;
    width: 60px;
}




/** Youtube IFRAME */
.yt_player_iframe{
  width: 800px;
  height: 600px;
}

/** Subway*/
.subwayInfo {
  font-size: 30px;
}

/** News */
.news{
	width:600px; 
	margin:auto;
}
#news-div{
	background: linear-gradient(to bottom right,#dcdcdc, #FFFFFF);
	border-radius: 5px;
}
#news-div span.titletext{
	color : #000;
	display: list-item;
} 

.contents{
  max-width: 100%;
}

.gif {
    height: 100%;
}

.map {
    height: 1080px;
}

.contents-box {
    text-align: center;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.contents-box:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: inset 0 0 10px 10px #000;
    -moz-box-shadow: inset 0 0 10px 10px #000;
    box-shadow: inset 0 0 10px 10px #000;
    overflow: hidden;
}

.color-block {
    height: 200px;
    width: 200px;
    display: inline-block;
    margin: 10px;
    margin-bottom: 20px;
}

.debug-info {
    width: 500px;
}

/* Animations */
.fade.ng-hide {
    opacity: 0;
}

.fade.ng-hide-remove,
.fade.ng-hide-add {
    display: block !important;
}

.fade.ng-hide-remove {
    transition: all ease 500ms;
}

.fade.ng-hide-add {
    transition: all ease 500ms;
}

.animate-grow {
    max-height: 1280px !important;
}

.animate-grow.ng-hide-add {
    transition: all linear 500ms;
}

.animate-grow.ng-hide-remove {
    transition: all linear 500ms;
}

.animate-grow.ng-hide {
    max-height: 0  !important;
}


.dimmed {
    color: #aaa;
}

.xxsmall,
.xsmall,
.small {
	font-family: "HelveticaNeue-Medium", sans-serif;
	letter-spacing: 0;
}

.xxsmall {
  font-size: 15px;
}

.xxsmall .wi {
  line-height: 15px;
}

.xsmall {
  font-size: 20px;
}

.small {
    font-size: 25px;
}


.icon {
  position: relative;
  top: -10px;
  display: inline-block;
  font-size: 40px;
  padding-right: 5px;
  font-weight: 100;
  margin-right: 10px;
}

.icon-small {
  position: relative;
  display: inline-block;
  font-size: 20px;
  padding-left: 0px;
  padding-right: -10px;
  font-weight: 100;
  width: 20px;
  color : white;
}

.xkcd {
  -webkit-filter:invert(100%);
  max-width: 100%;
}

.hole {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
}
@keyframes scale {
  0% {
    transform: scale(2);
    opacity: 0;
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.5);
  }
  50% {
    transform: scale(1) translate(0px, -5px);
    opacity: 1;
    box-shadow: 0px 8px 20px rgba(255, 255, 255, 0.5);
  }
  100% {
    transform: scale(0.1) translate(0px, 5px);
    opacity: 0;
    box-shadow: 0px 10px 20px rgba(255, 255, 255, 0);
  }
}
